<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hala B Saudi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.561032764465-8832baelei6iir78ksu7j8rpt873hvl6</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show nearby discounts and company-approved offers when you are using the app.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location at all times to notify about nearby venues even when the app is in background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need access to your location at all times to notify about nearby venues.</string>
	<key>TSLocationManagerLicense</key>
	<string>eyJhbGciOiJFZERTQSIsImtpZCI6ImVkMjU1MTktbWFpbi12MSJ9.eyJvcyI6ImlvcyIsImFwcF9pZCI6ImNvbS5oYWxhYnNhdWRpYXBwcmVhY3RuYXRpdmV2ZXJzaW9uIiwib3JkZXJfbnVtYmVyIjoxNTU3NywicmVuZXdhbF91cmwiOiJodHRwczovL3Nob3AudHJhbnNpc3RvcnNvZnQuY29tL2NhcnQvMTY1MDc4NjE1MDU6MT9ub3RlPTEwMzU2IiwiY3VzdG9tZXJfaWQiOjk0MjgsInByb2R1Y3QiOiJyZWFjdC1uYXRpdmUtYmFja2dyb3VuZC1nZW9sb2NhdGlvbiIsImtleV92ZXJzaW9uIjoxLCJhbGxvd2VkX3N1ZmZpeGVzIjpbIi5kZXYiLCIuZGV2ZWxvcG1lbnQiLCIuc3RhZ2luZyIsIi5zdGFnZSIsIi5xYSIsIi51YXQiLCIudGVzdCIsIi5kZWJ1ZyJdLCJtYXhfYnVpbGRfc3RhbXAiOjIwMjcwMzI2LCJncmFjZV9idWlsZHMiOjAsImVudGl0bGVtZW50cyI6WyJjb3JlIl0sImlhdCI6MTc3MjY5NTM1M30.Vyl0BaI-VANezUVWVtdmO2fPcbjlKCy0ULfNJUi2TrCPBrr-BJykiKLm-3LZNwa2gTdo1Kn9i44xvL1wDAbVAA</string>
	<key>NSMotionUsageDescription</key>
	<string>We use motion detection to improve location accuracy and battery life.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>FilsonProBlack.otf</string>
		<string>FilsonProBold.otf</string>
		<string>FilsonProLight.otf</string>
		<string>FilsonProMedium.otf</string>
		<string>FilsonProRegular.otf</string>
		<string>SF-Pro-Rounded-Black.otf</string>
		<string>SF-Pro-Rounded-Bold.otf</string>
		<string>SF-Pro-Rounded-Heavy.otf</string>
		<string>SF-Pro-Rounded-Light.otf</string>
		<string>SF-Pro-Rounded-Medium.otf</string>
		<string>SF-Pro-Rounded-Regular.otf</string>
		<string>SF-Pro-Rounded-Semibold.otf</string>
		<string>SF-Pro-Rounded-Thin.otf</string>
		<string>SF-Pro-Rounded-Ultralight.otf</string>
		<string>Ionicons.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>